{% extends 'base.html' %}
<title>
  {% block title %}Skystore | Вход{% endblock %}
</title>
{% block content %}
  <div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
      <div class="col-3 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Вход</h4>
          </div>
          <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
          </div>
          <button type="submit" class="btn btn-success btn-sm">Войти</button>
          <div class="p-2 text-center">
            <a href="{% url 'users:reset-password' %}">Забыли пароль?</a>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
