{% extends 'base.html' %}
<title>
  {% block title %}Skystore | Восстановление пароля{% endblock %}
</title>
{% block content %}
  <div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
      <div class="col-3 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Сброс пароля</h4>
          </div>
          <div class="card-body">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Сбросить пароль</button>
            <small>Новый пароль будет отправлен Вам на электронную почту</small>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
