{% extends 'base.html' %}
{% load img_filters %}
<title>Skystore | {{ product.title }}</title>
{% block content %}
  <div class="container">
    <h1>{{ product.title }} - Product Detail</h1>
    <div>
      <img src="{{ product.image|full_media_path }}"
           alt="{{ product.title }}"
           width="200">
    </div>
    <h2>{{ product.title }}</h2>
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    <a href="{% url 'index' %}">Вернуться к списку продуктов</a>
  </div>
{% endblock %}
